In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# One to many relationship

## 1. Report the account representative for each customer.

In [2]:
run("""
SELECT concat(e.firstName," ",e.lastName) as "AccountRepresentative", c.* FROM customers as c inner join employees as e on c.salesRepEmployeeNumber = e.employeeNumber
""")

,AccountRepresentative,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,Leslie Jennings,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500.0
1,Leslie Jennings,129,Mini Wheels Co.,Murphy,Julie,6505555787,5557 North Pendale Street,None,San Francisco,CA,94217,USA,1165,64600.0
2,Leslie Jennings,161,Technics Stores Inc.,Hashimoto,Juri,6505556809,9408 Furth Circle,None,Burlingame,CA,94217,USA,1165,84600.0
3,Leslie Jennings,321,Corporate Gift Ideas Co.,Brown,Julie,6505551386,7734 Strong St.,None,San Francisco,CA,94217,USA,1165,105000.0
4,Leslie Jennings,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,None,San Jose,CA,94217,USA,1165,77600.0
5,Leslie Jennings,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,None,Brisbane,CA,94217,USA,1165,60300.0
6,Leslie Thompson,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800.0
7,Leslie Thompson,205,Toys4GrownUps.com,Young,Julie,6265557265,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,1166,90700.0
8,Leslie Thompson,219,Boards & Toys Co.,Young,Mary,3105552373,4097 Douglas Av.,None,Glendale,CA,92561,USA,1166,11000.0
9,Leslie Thompson,239,Collectable Mini Designs Co.,Thompson,Valarie,7605558146,361 Furth Circle,None,San Diego,CA,91217,USA,1166,105000.0
10,Leslie Thompson,347,"Men 'R' US Retailers, Ltd.",Chandler,Brian,2155554369,6047 Douglas Av.,None,Los Angeles,CA,91003,USA,1166,57700.0
11,Leslie Thompson,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,None,Burbank,CA,94019,USA,1166,55400.0
12,Julie Firrelli,173,Cambridge Collectables Co.,Tseng,Jerry,6175555555,4658 Baden Av.,None,Cambridge,MA,51247,USA,1188,43400.0
13,Julie Firrelli,204,Online Mini Collectables,Barajas,Miguel,6175557555,7635 Spinnaker Dr.,None,Brickhaven,MA,58339,USA,1188,68700.0
14,Julie Firrelli,320,Mini Creations Ltd.,Huang,Wing,5085559555,4575 Hillside Dr.,None,New Bedford,MA,50553,USA,1188,94500.0
15,Julie Firrelli,339,"Classic Gift Ideas, Inc",Cervantes,Francisca,2155554695,782 First Street,None,Philadelphia,PA,71270,USA,1188,81100.0
16,Julie Firrelli,379,Collectables For Less Inc.,Nelson,Allen,6175558555,7825 Douglas Av.,None,Brickhaven,MA,58339,USA,1188,70700.0
17,Julie Firrelli,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188,85100.0
18,Steve Patterson,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,None,Allentown,PA,70267,USA,1216,100600.0
19,Steve Patterson,198,Auto-Moto Classics Inc.,Taylor,Leslie,6175558428,16780 Pompton St.,None,Brickhaven,MA,58339,USA,1216,23000.0
20,Steve Patterson,286,Marta's Replicas Co.,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,None,Cambridge,MA,51247,USA,1216,123700.0
21,Steve Patterson,362,Gifts4AllAges.com,Yoshido,Juri,6175559555,8616 Spinnaker Dr.,None,Boston,MA,51003,USA,1216,41900.0
22,Steve Patterson,363,Online Diecast Creations Co.,Young,Dorothy,6035558647,2304 Long Airport Avenue,None,Nashua,NH,62005,USA,1216,114200.0
23,Steve Patterson,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,None,New Bedford,MA,50553,USA,1216,85800.0
24,Foon Yue Tseng,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.0
25,Foon Yue Tseng,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286,0.0
26,Foon Yue Tseng,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,1286,76400.0
27,Foon Yue Tseng,233,Québec Home Shopping Network,Fresnière,Jean,(514) 555-8054,43 rue St. Laurent,None,Montréal,Québec,H1J 1C3,Canada,1286,48700.0
28,Foon Yue Tseng,424,Classic Legends Inc.,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,1286,67500.0
29,Foon Yue Tseng,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,None,New Haven,CT,97823,USA,1286,95400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Barry Jones,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504,81700.0
71,Barry Jones,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,None,Frankfurt,None,60528,Germany,1504,59700.0
72,Barry Jones,144,"Volvo Model Replicas, Co",Berglund,Christina,0921-12 3555,Berguvsvägen 8,None,Luleå,None,S-958 22,Sweden,1504,53100.0
73,Barry Jones,167,Herkku Gifts,Oeztan,Veysel,+47 2267 3215,Brehmen St. 121,PR 334 Sentrum,Bergen,None,N 5804,Norway,1504,96800.0
74,Barry Jones,189,"Clover Collections, Co.",Cassidy,Dean,+353 1862 1555,25 Maiden Lane,Floor No. 4,Dublin,None,2,Ireland,1504,69400.0
75,Barry Jones,259,"Toms Spezialitäten, Ltd",Pfalzheim,Henriette,0221-5554327,Mehrheimerstr. 369,None,Köln,None,50739,Germany,1504,120400.0
76,Barry Jones,299,"Norway Gifts By Mail, Co.",Klaeboe,Jan,+47 2212 1555,Drammensveien 126A,PB 211 Sentrum,Oslo,None,N 0106,Norway,1504,95100.0
77,Barry Jones,415,"Bavarian Collectables Imports, Co.",Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,None,Munich,None,80686,Germany,1504,77000.0
78,Barry Jones,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,None,Bräcke,None,S-844 67,Sweden,1504,116400.0
79,Andy Fixter,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.0
80,Andy Fixter,276,"Anna's Decorations, Ltd",O'Hara,Anna,02 9936 8555,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,1611,107800.0
81,Andy Fixter,282,Souveniers And Things Co.,Huxley,Adrian,+61 2 9495 8555,Monitor Money Building,815 Pacific Hwy,Chatswood,NSW,2067,Australia,1611,93300.0
82,Andy Fixter,333,"Australian Gift Network, Co",Calaghan,Ben,61-7-3844-6555,31 Duncan St. West End,None,South Brisbane,Queensland,4101,Australia,1611,51600.0
83,Andy Fixter,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,None,Glen Waverly,Victoria,3150,Australia,1611,60300.0
84,Peter Marsh,166,Handji Gifts& Co,Victorino,Wendy,+65 224 1555,106 Linden Road Sandown,2nd Floor,Singapore,None,069045,Singapore,1612,97900.0
85,Peter Marsh,323,"Down Under Souveniers, Inc",Graham,Mike,+64 9 312 5555,162-164 Grafton Road,Level 2,Auckland,None,None,New Zealand,1612,88000.0
86,Peter Marsh,357,GiftsForHim.com,MacKinlay,Wales,64-9-3763555,199 Great North Road,None,Auckland,None,None,New Zealand,1612,77700.0
87,Peter Marsh,412,"Extreme Desk Decorations, Ltd",McRoy,Sarah,04 499 9555,101 Lambton Quay,Level 11,Wellington,None,None,New Zealand,1612,86800.0
88,Peter Marsh,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612,110000.0
89,Mami Nishi,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,None,079903,Singapore,1621,103800.0
90,Mami Nishi,177,Osaka Souveniers Co.,Kentary,Mory,+81 06 6342 5555,1-6-20 Dojima,None,Kita-ku,Osaka,530-0003,Japan,1621,81200.0
91,Mami Nishi,211,"King Kong Collectables, Co.",Gao,Mike,+852 2251 1555,Bank of China Tower,1 Garden Road,Central Hong Kong,None,None,Hong Kong,1621,58600.0
92,Mami Nishi,385,Cruz & Sons Co.,Cruz,Arnold,+63 2 555 3587,15 McCallum Street,NatWest Center #13-03,Makati City,None,1227 MM,Philippines,1621,81500.0
93,Mami Nishi,398,"Tokyo Collectables, Ltd",Shimamura,Akiko,+81 3 3584 0555,2-2-8 Roppongi,None,Minato-ku,Tokyo,106-0032,Japan,1621,94400.0
94,Martin Gerard,216,Enaco Distributors,Saavedra,Eduardo,(93) 203 4555,"Rambla de Cataluña, 23",None,Barcelona,None,08022,Spain,1702,60300.0
95,Martin Gerard,298,"Vida Sport, Ltd",Holz,Mihael,0897-034555,Grenzacherweg 237,None,Genève,None,1203,Switzerland,1702,141300.0
96,Martin Gerard,344,CAF Imports,Fernandez,Jesus,+34 913 728 555,Merchants House,27-30 Merchant's Quay,Madrid,None,28023,Spain,1702,59600.0
97,Martin Gerard,376,Precious Collectables,Urs,Braun,0452-076555,Hauptstr. 29,None,Bern,None,3012,Switzerland,1702,0.0
98,Martin Gerard,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",None,Madrid,None,28023,Spain,1702,104600.0
99,Martin Gerard,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",None,Sevilla,None,41101,Spain,1702,65700.0

## 2. Report total payments for Atelier graphique.

In [3]:
run("""
SELECT sum(p.amount) as "Total" FROM payments as p inner join customers c on p.customerNumber = c.customerNumber where c.customerName = 'Atelier graphique'
""")

      Total
0  22314.36

## 3. Report the total payments by date

In [4]:
run("""
SELECT paymentDate,sum(amount) as "TotalAmount" FROM `payments` group by paymentDate
""")

    paymentDate  TotalAmount
0    2003-01-16     10223.83
1    2003-01-28     10549.01
2    2003-01-30      5494.78
3    2003-02-16     50218.95
4    2003-02-20     53959.21
5    2003-02-25     40206.20
6    2003-03-02     52151.81
7    2003-03-09     51001.22
8    2003-03-12     22292.62
9    2003-03-20     25833.14
10   2003-03-27     48425.69
11   2003-04-09     24212.79
12   2003-04-11     11044.30
13   2003-04-16     21665.98
14   2003-04-19      1627.56
15   2003-04-20     33383.14
16   2003-04-22     44380.15
17   2003-05-09      3101.40
18   2003-05-12     35826.33
19   2003-05-20     45864.03
20   2003-05-21     16700.47
21   2003-05-25     50824.66
22   2003-05-31      7565.08
23   2003-06-05     14571.44
24   2003-06-06     32641.98
25   2003-06-13     57131.92
26   2003-06-18     58841.35
27   2003-06-25     17032.29
28   2003-07-05      2880.00
29   2003-07-06      6036.96
..          ...          ...
202  2005-02-02     12692.19
203  2005-02-03     14379.90
204  2005-02-06     39580.60
205  2005-02-09     27083.78
206  2005-02-12     28322.83
207  2005-02-14     33967.73
208  2005-02-15     46770.52
209  2005-02-22     49523.67
210  2005-03-01     21432.31
211  2005-03-02      3452.75
212  2005-03-05    101244.59
213  2005-03-10     23602.90
214  2005-03-15     46781.66
215  2005-03-18    120166.58
216  2005-03-25     65071.26
217  2005-03-27      3516.04
218  2005-04-15     30293.77
219  2005-04-16     83598.04
220  2005-04-18     27966.54
221  2005-04-23     12190.85
222  2005-04-30     29848.52
223  2005-05-03     43964.87
224  2005-05-17     17928.09
225  2005-05-18       615.45
226  2005-05-19     75396.26
227  2005-05-20     29070.38
228  2005-05-23     75020.13
229  2005-05-25     30253.75
230  2005-06-03     12432.32
231  2005-06-09     46656.94

[232 rows x 2 columns]

## 4. Report the products that have not been sold

In [6]:
run("""
SELECT * FROM products p where p.productCode not in (select od.productCode from orders o, orderdetails od where o.orderNumber = od.orderNumber and o.status = 'Shipped')
""")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57

## 5. List the amount paid by each customer

In [7]:
run("""
SELECT c.customerNumber, c.customerName, sum(p.amount) FROM customers as c inner join payments p on c.customerNumber = p.customerNumber 
group by customerNumber
""")

    customerNumber                        customerName  sum(p.amount)
0              103                   Atelier graphique       22314.36
1              112                  Signal Gift Stores       80180.98
2              114          Australian Collectors, Co.      180585.07
3              119                   La Rochelle Gifts      116949.68
4              121                  Baane Mini Imports      104224.79
5              124        Mini Gifts Distributors Ltd.      584188.24
6              128                Blauer See Auto, Co.       75937.76
7              129                     Mini Wheels Co.       66710.56
8              131                   Land of Toys Inc.      107639.94
9              141              Euro+ Shopping Channel      715738.98
10             144            Volvo Model Replicas, Co       43680.65
11             145            Danish Wholesale Imports      107446.50
12             146              Saveley & Henriot, Co.      130305.35
13             148             Dragon Souveniers, Ltd.      156251.03
14             151                  Muscle Machine Inc      177913.95
15             157               Diecast Classics Inc.       98509.25
16             161                Technics Stores Inc.      104545.22
17             166                    Handji Gifts& Co      105420.57
18             167                        Herkku Gifts       97562.47
19             171            Daedalus Designs Imports       61781.70
20             172           La Corne D'abondance, Co.       86553.52
21             173          Cambridge Collectables Co.       32198.69
22             175                     Gift Depot Inc.       95424.63
23             177                Osaka Souveniers Co.       62361.22
24             181                     Vitachrome Inc.       72497.64
25             186                Toys of Finland, Co.       95546.46
26             187                      AV Stores, Co.      148410.09
27             189             Clover Collections, Co.       49898.27
28             198             Auto-Moto Classics Inc.       21554.26
29             201               UK Collectables, Ltd.       61167.18
..             ...                                 ...            ...
68             357                     GiftsForHim.com       56662.38
69             362                   Gifts4AllAges.com       33533.47
70             363        Online Diecast Creations Co.      116449.29
71             379          Collectables For Less Inc.       73533.65
72             381                        Royale Belge       29217.18
73             382               Salzburg Collectables       85060.00
74             385                     Cruz & Sons Co.       87468.30
75             386                 L'ordine Souveniers       90143.31
76             398             Tokyo Collectables, Ltd      105548.73
77             406                   Auto Canal+ Petit       86436.97
78             412       Extreme Desk Decorations, Ltd       66704.94
79             415  Bavarian Collectables Imports, Co.       31310.09
80             424                Classic Legends Inc.       69214.33
81             447                    Gift Ideas Corp.       49967.78
82             448             Scandinavian Gift Ideas       76776.44
83             450           The Sharp Gifts Warehouse       59551.38
84             452                     Mini Auto Werke       51059.99
85             455                    Super Scale Inc.       70378.65
86             456                     Microscale Inc.       29230.43
87             458          Corrida Auto Replicas, Ltd      112440.09
88             462                    FunGiftIdeas.com       88627.49
89             471        Australian Collectables, Ltd       44920.76
90             473                  Frau da Collezione       25358.32
91             475         West Coast Collectables Co.       43748.72
92             484          Iberia Gift Imports, Corp.       50987.85
93             486        Motor Mint Distributors Inc.       77726.59
94             487            Signal Collectibles Ltd.       42570.37
95             489      Double Decker Gift Stores, Ltd       29586.15
96             495                Diecast Collectables       65541.74
97             496                   Kelly's Gift Shop      114497.19

[98 rows x 3 columns]

## 6. How many orders have been placed by Herkku Gifts?

In [8]:
run("""
SELECT c.customerName, count(*) as "TotalOrders" FROM orders o inner join customers c on o.customerNumber = c.customerNumber 
where c.customerName = 'Herkku Gifts' 
group by o.customerNumber
""")

   customerName  TotalOrders
0  Herkku Gifts            3

## 7. Who are the employees in Boston?

In [9]:
run("""
SELECT * FROM employees e inner join offices o on e.officeCode = o.officeCode 
where o.city = 'Boston'
""")

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA

## 8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.

In [10]:
run("""
SELECT c.customerNumber, c.customerName, sum(p.amount) as Total 
FROM customers c inner join payments p on c.customerNumber = p.customerNumber 
group by c.customerNumber 
HAVING Total > 100000
order by TOTAL desc
""")

    customerNumber                  customerName      Total
0              141        Euro+ Shopping Channel  715738.98
1              124  Mini Gifts Distributors Ltd.  584188.24
2              114    Australian Collectors, Co.  180585.07
3              151            Muscle Machine Inc  177913.95
4              148       Dragon Souveniers, Ltd.  156251.03
5              323    Down Under Souveniers, Inc  154622.08
6              187                AV Stores, Co.  148410.09
7              276       Anna's Decorations, Ltd  137034.22
8              321      Corporate Gift Ideas Co.  132340.78
9              146        Saveley & Henriot, Co.  130305.35
10             278                 Rovelli Gifts  127529.69
11             353            Reims Collectables  126983.19
12             119             La Rochelle Gifts  116949.68
13             363  Online Diecast Creations Co.  116449.29
14             496             Kelly's Gift Shop  114497.19
15             458    Corrida Auto Replicas, Ltd  112440.09
16             298               Vida Sport, Ltd  108777.92
17             131             Land of Toys Inc.  107639.94
18             145      Danish Wholesale Imports  107446.50
19             398       Tokyo Collectables, Ltd  105548.73
20             166              Handji Gifts& Co  105420.57
21             161          Technics Stores Inc.  104545.22
22             121            Baane Mini Imports  104224.79
23             334           Suominen Souveniers  103896.74
24             320           Mini Creations Ltd.  101872.52

## 9. List the value of 'On Hold' orders.

In [11]:
run("""
SELECT od.* FROM orderdetails od inner join orders o on od.orderNumber = o.orderNumber 
where o.status = 'On Hold'
""")

    orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0         10334    S10_4962               26     130.01                2
1         10334    S18_2319               46     108.00                6
2         10334    S18_2432               34      52.87                1
3         10334    S18_3232               20     147.33                3
4         10334    S18_4600               49     101.71                4
5         10334    S24_2300               42     117.57                5
6         10401    S18_2581               42      75.19                3
7         10401    S24_1785               38      87.54                5
8         10401    S24_3949               64      59.37               12
9         10401    S24_4278               52      65.93                4
10        10401    S32_1374               49      81.91                1
11        10401    S32_4289               62      62.60                6
12        10401    S50_1341               56      41.46                7
13        10401   S700_1691               11      77.64                8
14        10401   S700_2466               85      98.72               10
15        10401   S700_2834               21      96.11                2
16        10401   S700_3167               77      73.60                9
17        10401   S700_4002               40      66.63               11
18        10407    S18_1589               59     114.48               11
19        10407    S18_1749               76     141.10                2
20        10407    S18_2248               42      58.12                1
21        10407    S18_2870               41     132.00               12
22        10407    S18_4409                6      91.11                3
23        10407    S18_4933               66      64.14                4
24        10407    S24_1046               26      68.35                8
25        10407    S24_1628               64      45.78               10
26        10407    S24_2766               76      81.78                6
27        10407    S24_2887               59      98.65                5
28        10407    S24_3191               13      77.05                7
29        10407    S24_3432               43     101.73                9
30        10414    S10_4757               49     114.24                3
31        10414    S18_3029               44      77.42                1
32        10414    S18_3140               41     128.39               12
33        10414    S18_3259               48      85.71               14
34        10414    S18_4522               56      83.38               11
35        10414    S24_2011               43     108.14               10
36        10414    S24_3151               60      72.58                5
37        10414    S24_3816               51      72.96                2
38        10414   S700_1138               37      62.00                6
39        10414   S700_1938               34      74.48               13
40        10414   S700_2610               31      61.44                4
41        10414   S700_3505               28      84.14                7
42        10414   S700_3962               40      84.41                8
43        10414    S72_3212               47      54.60                9

## 10. Report the number of orders 'On Hold' for each customer.

In [12]:
run("""
SELECT c.customerNumber, c.customerName, count(*) as "NumberOrders" FROM orders o inner join customers c on o.customerNumber = c.customerNumber 
where o.status = 'On Hold' 
group by o.customerNumber
""")

   customerNumber               customerName  NumberOrders
0             144   Volvo Model Replicas, Co             1
1             328    Tekni Collectables Inc.             1
2             362          Gifts4AllAges.com             1
3             450  The Sharp Gifts Warehouse             1

# Many to many relationship

# 1. List products sold by order date.